{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block body %}

    <a href="{{ path('player_add') }}" class="btn btn-dark mb-2">Nouveau joueur</a>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Date de naissance</th>
            <th>Elo</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for player in players  %}
            {{ dump(player.tournament) }}
            <tr>
                <td>{{ player.username }}</td>
                <td>{{ player.birthdate | date('d-m-Y') }}</td>
                <td>{{ player.elo }}</td>
                <td>{{ player.gender }}</td>
                <td><a href="{{ path('player_delete', { id: player.id }) }}"
                       class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="{{ path('player_edit', { id: player.id }) }}"
                       class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
