{% extends 'base.html.twig' %}

{% block body %}



    <div>
        <h1>Liste des Tournois</h1>

{#          {{  dump(tournois) }}#}

        <div class="container">
            <div class="row">
                {% for tournoi in tournois %}
    {# {{ dump(tournoi.players) }} #}
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem; margin-bottom: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ tournoi.tournoiName }}</h5>
                                <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ tournoi.city }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Date: {{ tournoi.date | date('d-m-Y')}} </li>
                                {#{{ dump(tournoi.eloMin) }}
                                {{ dump(tournoi.eloMax) }}#}
                                <li class="list-group-item">{{ tournoi.eloMin }} pts - {{ tournoi.eloMax }} pts</li>
                                <li class="list-group-item">Genre: {{ tournoi.gender }}</li>
                                <li class="list-group-item">{{ tournoi.playerMin }} - {{ tournoi.PlayerMax }}</li>
                            </ul>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary">Informations</button>
{#                                {{ dump(app.user.elo) }}#}
                                <a type="submit" class="btn btn-success {% if app.user.elo < tournoi.eloMin or app.user.elo > tournoi.eloMax%} disabled {% endif %}" href="{{ path('participate', { id: tournoi.id}) }}">Participer</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Tournois
{% endblock %}

