{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
    <thead>
        <tr>
            <th>Nom du tournoi</th>
            <th>Ville</th>
            <th>Date</th>
            <th>Classé</th>
            <th>Elo min</th>
            <th>Elo max</th>
            <th>Genre</th>
            <th>Round</th>
        </tr>
    </thead>
    {% for tournoi in tournois  %}
        <tr>
            <td>{{ tournoi.tournoiName }}</td>
            <td>{{ tournoi.city }}</td>
            <td>{{ tournoi.date | date('d-m-Y') }}</td>
            <td>{{ tournoi.ranked }}</td>
            <td>{{ tournoi.eloMin }}</td>
            <td>{{ tournoi.eloMax }}</td>
            <td>{{ tournoi.gender }}</td>
            <td>{{ tournoi.round }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block title %}
    Tournois
{% endblock %}

